body {
    height: 100vh;
}

.header {
    height: 10%;
    background: springgreen;
    font-size: 20px;
}

.main{
    background: deeppink;
    height: 80%;
}

.footer{
    height: 10%;
    background: royalblue;
    text-align: center;
}

.section{
    height: 100%;
    width: 70%;
    background: seagreen;
    display: inline-block;
}

.aside{
    height: 100%;
    width: 30%;
    background: skyblue;
    display: inline-block;
}