body {
    height: 100vh;
}

.header {
    height: 10%;
    background: rgb(9, 112, 214);
    font-size: 30px;
}

.main{
    height: 80%;
    background: darkcyan;
}
.main nav{
    width: 100%;
    height: 20%;
    text-align: center;
    background: chocolate;
}

.main section{
    display: inline-block;
    text-align: center;
    height: 80%;
    width: 50%;
}

.footer{
    height: 10%;
    background: aqua;
}